@import "tailwindcss";


:root {
  --bg-color: #f3f4f6;
  --bg-cards-color: #ffffff;
  --text-cards-color: black;
  --text-s-color: #99a1af;
}

.Dark {

  --bg-color:   linear-gradient(135deg, #0b0b0b 0%, #1c1c1c 60%, #000 100%),
  linear-gradient(45deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.05) 100%),
  linear-gradient(90deg, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 100%);
  --bg-cards-color: #0d0d0d;
  --text-cards-color: white;
  --text-s-color: #f3f4f6;
}

.backGround {
  background: var(--bg-color);
  color: var(--text-cards-color);
}

.navbar {
  background-color: var(--bg-cards-color);
  color: var(--text-cards-color)
}
